<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>My App</title>
</head>
<body>
    <h1><%= title %></h1>
    <ul>

    </ul>
    <form action= "/signup" method="post">
        Enter Name : <input type="text" name = "userName"></input>
        <br>
        Enter Pass : <input type="text" name = "userPwd"></input>
        <br><br>
        SIGN UP : <input type="submit">
    </form>
    <br><br>
    <form action= "/login" method="post">
        Enter Name : <input type="text" name = "userName"></input>
        <br>
        Enter Pass : <input type="text" name = "userPwd"></input>
        <br><br>
        LOGIN : <input type="submit">
    </form>
</body>
</html>